body {
	font-family: "Arial Black", Gadget, sans-serif;
	background-color: #ffe1ed;
	font-size: 30px;
	
}
h1 {
	padding: 50px 30px 50px 30px;
}

p1 {
	border-style: solid;
	border-width: small;
	border-color: #e1fcff;
	border-radius: 5px;
	padding: 50px 30px 50px 30px;
}

p2 {
	border-style: solid;
	border-width: small;
	border-color: #e1fcff;
	border-radius: 5px;
	padding: 50px 30px 50px 30px;
}

p3 {
	border-style: solid;
	border-width: small;
	border-color: #e1fcff;
	border-radius: 5px;
	padding: 50px 30px 50px 30px;
}