.navbar {
	background-color: #8caba8;
	font-family: 'Bungee', cursive;
}

.thumbnail {
	text-align: center;
	background-color: #dfdfde;
}

.jumbotron.credit{
	font-family: 'Bungee', cursive;
	text-align: justify;
	background: #a2798f;
	font-size: 25px
}

.jumbotron.aboutme {
	font-family: 'BioRhyme', serif;
	font-size: 20px;
}

.pic {
	width: 70%;
}

body {
	background: -webkit-linear-gradient(#d7c6cf, #fbf9fa) fixed;
    background: -o-linear-gradient(#d7c6cf, #fbf9fa) fixed; 
    background: -moz-linear-gradient(#d7c6cf, #fbf9fa) fixed; 
    background: linear-gradient(#d7c6cf, #fbf9fa) fixed; 
}

.name {
	font-family: 'Bungee Shade', cursive;
	font-size: 60px;
	text-align: left;
}

.name-info {
	font-family: 'Bungee', cursive;
	font-size: 20px;
	text-align: left;
}
.who {
	font-family: 'Bungee Shade', cursive;
	font-size: 100px;
	text-align: right;
}

.why {
	font-size: 25px;
	font-family: 'Bungee', cursive;
	text-align: left;
}

.btn {
	background-color: #a2798f;
	color: #dfdfde;
}

h3 {
	color: #8caba8;
	font-family: 'Bungee', cursive;
}

footer {
	font-family: 'Bungee', cursive;
	text-align: center

}

