body {
	font-family: "Arial Black", Gadget, sans-serif;
	color: #ffe1ed;
	background-image: url("IMG_8369.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-size: 30px;
}

a:link {
	color: #ffe1ed;
}

a: visited {
	color: #ff95bf;
}

a:hover {
	color: #ff95bf;
}
h1 {
	padding: 50px 30px 50px 30px;
}

p1 {
	border-style: solid;
	border-width: small;
	border-color: #ffe1ed;
	border-radius: 5px;
	padding: 50px 30px 50px 30px;
}

p2 {
	border-style: solid;
	border-width: small;
	border-color: #ffe1ed;
	border-radius: 5px;
	padding: 50px 30px 50px 30px;
}

p3 {
	border-style: solid;
	border-width: small;
	border-color: #ffe1ed;
	border-radius: 5px;
	padding: 50px 30px 50px 30px;
}